.about-container {
  background: $white;
  color: $black;
  display: flex;

  .bio-container {
    flex: 0 0 auto;
    width: 20%;
    padding: rem(100);

    ul {
      padding: 0;
      margin: 0 0 rem(40) 0;

      label {
        margin: 0 0 rem(20) 0;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        color: $black;
      }

      li {
        margin-left: rem(22);
        line-height: rem(40);
      }
    }
  }
  .block-bio-container {
    padding-top: rem(100);
    flex: 1 1 auto;

    .blocks {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      .block {
        flex: 0 0 auto;
        width: 31%;
        margin: rem(10);

        &.image,
        &.video {
          overflow: hidden;
          img {
            width: 100%;
          }

          video { width: 100%; }
        }

        &.video {
          background: $black;
          position: relative;
          cursor: pointer;

          .play ,
          .pause {
            position: absolute;
            bottom: rem(20);
            right: rem(20);
            color: $green;
            transition:all 0.5s;
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
          }

          &:hover .pause,
          &:hover .play {
            transform: scale(1.2);
          }

          video { margin-top: rem(90) }
        }

        &.message {

          .message-wrapper {
            padding: rem(40);

            h5,p { margin: 0; padding: 0; }

            h5 {
              border-bottom: 5px solid $white;
              padding: 0 0 rem(20) 0;
              margin: 0 0 rem(20) 0;
              display: inline-block;
            }
          }

        }

        &.black {
          background: $black;
          color: $white;
        }

        &.white {
          background: $white;
          color: $black;

          .message-wrapper h5 { border-bottom: 5px solid $ccc; }
        }
      }
    }
  }

  .quote-container {
    margin-top: rem(100);

    blockquote {
      margin: 0 auto;
      padding: 0;
      position: relative;
      font-style: italic;
      font-family: serif;
      width: rem(500);

      svg.tip {
        fill: rgba($black, 0.5);
        position: absolute;
        left: 50%;
        margin-left: -20px;
      }

      span {
        @include border-radius;
        background: rgba($black, 0.5);
        font-size: rem(80);
        display: block;
        text-align: center;
        padding: rem(40);
      }

      cite {
        display: block;
        text-align: center;
        margin-top: rem(40);
        color: $yellow;
      }
    }
  }
}