.example-container {
  padding: rem(150) 0;
  background: $red;
  text-align: center;

  .container {
    color: $white;

    .panel {

      .panel-forms {
        opacity: 0;
        visibility: hidden;
        display: none;
        transition: all 0.5s;

        &.active {
          @include shadow;
          background: $white;
          padding: rem(40);
          width: rem(300);
          margin: auto;

          opacity: 1;
          visibility: visible;
          display: block;
        }

        .field {
          .input-field {
            border: none;
            border-bottom: 2px solid $black;
            display: block;
            width: rem(300);
            outline: none;
            margin: 0 0 rem(20) 0;
            text-align: center;

            &:focus,
            &:active { border-color: $red; }
          }

          .instruction {
            color: $black;
            display: block;
            text-align: center;
            font-size: rem(18);
          }
        }
      }

      .panel-actions {
        margin-top: rem(40);

        button { cursor: pointer; }

        button.next-btn {
          @include border-radius($round);
          border: none;
          background: $yellow;
          padding: rem(20) rem(40);
          font-size: rem(26);
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          margin-right: rem(40);
          transition: all 0.4s;

          &:hover {
            transform: scale(0.9);
          }
        }

        button.auto-gen-btn {
          transition: all 0.4s;
          border: none;
          background: $trans;
          color: rgba($white, 0.5);
          padding: rem(10) rem(20);
          font-size: rem(18);
          font-family: 'Roboto Slab', serif;
          font-weight: 700;

          &:hover { color: $white; }
        }
      }
    }

    .story-result {
      @include shadow;
      background: $white;
      padding: rem(60);
      margin: auto;
      text-align: left;

      p.lead {
        margin: 0;
        font-size: rem(40);
        line-height: rem(60);
        color: $black;

        span {
          font-weight: bold;
          color: $red;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
        }
      }


    }
  }
}