// Defaults
body {
  font-size: rem(24);
  font-family: 'Source Sans Pro', sans-serif;
  color: $black;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0 0 rem(20) 0;
}

h1 { font-size: rem(50); }
h2 { font-size: rem(40); }
h3 { font-size: rem(30); }
h4 { font-size: rem(20); }

p:not(.lead) {
  line-height: rem(40);
}

// Special
::-moz-selection { background: $light; }
::selection { background: $light; }

.introduction-container,
.skills-container,
.example-container,
.about-container,
.conclusion-container {
  .container {
    width: rem(1200);
    margin: auto;
  }

  p.lead {
    font-size: rem(32);
    line-height: rem(45);

    span { font-weight: bold; }
  }
}