.introduction-container {
  padding: rem(100);
  display: flex;
  align-items: stretch;

  @include mq('mobile') {
    padding: rem(20);
    flex-wrap: wrap;
  }

  @include mq('tablet') {
    padding: rem(40);
  }

  .introduction-copy,
  .introduction-image {
    flex: 0 0 auto;
    width: 50%;
    min-height: rem(400);

    @include mq('mobile') {
      width: 100%;
    }
  }

  .introduction-image {
    background: url(/illustration-pics/intro.jpg) no-repeat center center;
    background-size: 80%;
  }

  .introduction-copy {
    .andreortiz-logo {
      width: rem(100);
      margin-bottom: rem(20);
    }
  }
}