.banner-component {
  padding: rem(5);
  background: $blue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.5s;

  @include mq('mobile') {
    display: none;
  }

  &.hide {
    top: rem(-100);
  }

  a {
    color: $white;
    text-decoration: none;
  }

  span {
    font-size: rem(18);
  }

  &:hover {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
}