.banner-component {
  padding: rem(5);
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.5s;
  @include shadow;

  @include mq('mobile') {
    display: none;
  }

  &.hide {
    top: rem(-100);
  }

  span {
    font-size: rem(18);
  }

  span,
  .email-btn {
    flex:0 0 auto;
  }

  .email-btn {
    margin-left: rem(20);
    display: inline-block;
    background: $white;
    color: $black;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: rem(16);
    padding: rem(5) rem(20);
    @include border-radius($round);
    transition: all 0.5s;

    &:hover {
      transform: scale(1.2);
    }

  }
}