@import "colors";
@import "mixins";
@import "globals";
@import "charts";

// sections
@import "introduction.component";
@import "skills.component";


.introduction-container,
.skills-container,
.example-container,
.about-container,
.conclusion-container {

  .container {
    width: rem(1200);
    margin: auto;
  }

  p.lead {
    font-size: rem(32);
    line-height: rem(45);

    span { font-weight: bold; }
  }
}

.example-container {
  background: $yellow;
}
.about-container {
  background: $green;
}
.conclusion-container {
  background: $blue;
}